div{
   width: 200px;
   height: 300px;
   margin: 20px;
   padding: 10px;
   background-color: aquamarine;
   border: 5px violet groove
   }

div{
   background-color: blueviolet;
}

.zolty{
   background-color: yellow;
}

.szeroki{
   width: 600px;
}

#czerwony{
   background-color: red;
}

footer{
   
}